body {
	background-color: #B3F3FF;
	color: brown;
	text-align: center;
	font-family: 'Palatino Linotype';
}

table,tr,tbody{
	width: 100%;
	height: 80%;
}

td{
	width: 50%;
	height: 100%; 
}

#footer {
	width: 100%;
	text-align: center;
	position: absolute;
	bottom: 0%;
}