body {
	background-color: #B3F3FF;
	color: brown;
	font-family: 'Palatino Linotype';
}

#myFriendsPosts{
	
	background-color: white;
	border : 1px solid brown;
	
}

.friendPost, #listeAmis{
	
	padding : 2px;
	margin : 5px;
	background-color: white;
	border : 1px solid brown;
	
}

.postDate{
	
	font-style: italic;
	font-size: 0.8em;
	
}

.interests{
	padding : 2px;
	margin : 5px;
	background-color: white;
	border : 1px solid brown;
}

.postFrom{
	
	font-style: italic;
	text-decoration: underline;
	
}